// Here you can add other styles
.backgroud-image-login {
    background-size: contain;
    background-repeat-x: no-repeat;
    background-position: center;
}

.size-button{
    font-size: initial;
}

.editprofile{
    padding-right: 15%;
    padding-left: 15%;
}
.editprofile-footer{
    text-align: center;
}
.button-editprofile{
    width: 10%;
}
.addcustom{
    font-size: x-large;
}